/* colours  */

:root {
    --blue: #478EB0;
    --green: #65994C;
	--orange: #F0BA7D;
	--beige: #F5E8D0;
    --lightGray: #E6E6E6;
    --darkGray: #B3B3B3;
}

/* advanced reset  */

* {
    margin: 0;
    padding: 0;
}

/* typography */
* {
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

.item a{
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	/* font-size: x-large; */
	text-shadow: 2px 2px 5px rgba(0, 0, 0, .6);
}

.item a:hover{
/* text-decoration: underline; */
/* text-decoration-color: var(--blue); */
text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
color: #E6E6E6;
}

.bclo-logo{
	width: 80%;
	margin:auto;
	max-height: 90%;
	object-fit: scale-down;
}

.main_txt{
	font-size: .6em;
	text-align: left;
	line-height: 1.3em;;
	padding: 1em;
}

.main_txt h1{
	text-align: center;
	font-size: 1.3em;
}
.photoLabel{
	color:white;
	background-color:rgba(0, 0, 0, .8);
	font-size: 1.2em;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	margin-top:1em;

}
h1 + p,
h1 + ul{
	margin-top: 1em;
}

.copyright{
	font-size: .7em;
	color:white;
	text-align: right;
}

/* mobile first  */

.container {
    margin-top: 10px;
    background-color: white;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: grid;
    /* grid-template-columns: 1fr;
	grid-template-rows: repeat(14, 210px); */
	/* grid-template-columns: 260px 120px 260px 400px;
	grid-template-rows: repeat(7, 210px); */
    grid-gap: 3px 3px;
	text-align: center;
}

.link{
    display:grid;
}

.link > a{
  align-self:center;
}

.item_001 {
    background-color: var(--blue);
}

.item_002 {
    background-color: var(--orange);
}

.item_003 {
	background-color: var(--beige);
	background-image: url("../images/home-photo-01.jpg");
	background-size: cover;
	background-position-y: top;
}

.item_004 {
    background-color: var(--darkGray);
}

.item_005{
	background-image: url("../images/BL-bw.jpg");
	background-size: cover;
	background-position-y: top;
}

.item_007{
	background-image: url("../images/BL--6.jpg");
	background-size: cover;
	background-position-y: center;
}

/* .item_005,
.item_007 {
	background-color: white;
	overflow: hidden;
	position: relative;
}
.item_005 img,
.item_007 img {
	position: absolute;
    left: 0;
    height: auto;
	opacity: 1;
	width:100%;
}
.item_005 img{
    top: -46px;
    width: 100%;
} */

.item_006 {
    background-color: var(--green);
}


.item_008 {
    background-color: var(--lightGray);
}

.item_009 {
    background-color: var(--darkGray);
}

.item_010 {
    background-color: var(--orange);
	background-image: url("../images/bclo-icon-simple.png");
    background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: contain;}

.item_011 {
	background-color: var(--blue);

}

.item_012 {
    background-color: var(--beige);
}

.item_013 {
    background-color: var(--lightGray);
}

.item_014 {
    background-color: var(--darkGray);
}



/* Large Screen styles  */

/* @media (min-width: 1100px) { */

    .container {
        /* width: 1100px; */
        margin: 3px 3px;
        padding: 0;
        box-sizing: border-box;
		/* grid-template-columns: 260px 120px 260px 400px; */
		grid-template-columns: 2fr 1fr 2fr 3fr;

        grid-template-rows: 7em 7em repeat(3, 9em) 2fr;
        grid-gap: 3px 3px;
    }

    .item_001 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .item_002 {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .item_003 {
        grid-column: 4 / span 2;
        grid-row: 1 / span 1;
    }

    .item_004 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }

    .item_005 {
        grid-column: 4 / span 2;
        grid-row: 2 / span 2;
    }

    .item_006 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .item_007 {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
    }

    .item_008 {
        grid-column: 4 / span 2;
        grid-row: 4 / span 2;
    }

    .item_009 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }

    .item_010 {
        grid-column: 1 / span 2;
        grid-row: 4 / span 2;
    }

    .item_011 {
        grid-column: 3 / span 1;
        grid-row: 5 / span 1;
    }

    /* .item_012 {
        grid-column: 1 / span 2;
        grid-row: 5 / span 1;
    } */

    /* .item_013 {
        grid-column: 1 / span 2;
		grid-row: 6 / span 2;
		margin-right:-20px;
    } */

    .item_014 {
        grid-column: 1 / span 4;
        grid-row: 6 / span 2;
    }

/* } */

@media (min-width: 1100px) {
	.main_txt{
		font-size: .8em;
		line-height: 1.1em;;
	}
}

.modal {
	display: none;
	position: fixed; 
	padding-top: 2em;
	left: 0; 
	top: 0;
	width: 100%;
	height: 100%; 
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
  }
  .modal-content {
	position: relative; 
	background-color: white;
	padding: 20px; 
	margin: auto; 
	width: 90%;  
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
  }
  .close-btn {
	float: right; 
	color: lightgray; 
	font-size: 50px;  
	font-weight: bold;
  }
  .close-btn:hover {
	color: darkgray;
  }
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }

  .modal h1, h2,
  .modal p,
  table.trainingSets {
	  font-size: .7em;
	  line-height: 1.2em;
  }

  table.trainingSets td {
	  border-bottom: 0px;
	  border-spacing: 0px;
	  padding-top: .5em;
	  padding-bottom: .5em;
  }

.blue_01{
	  background-color: rgba(71, 142, 176, .6);
  }
.blue_02{
	background-color: rgba(71, 142, 176, .4);
}.blue_03{
	background-color: rgba(71, 142, 176, .2);
}